<div th:fragment="navBar">

    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">

            <a class="navbar-brand" href="/"><img src="/images/logo-v1.png"
                                                  alt="Skin Vault Analytics" height="45"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Collections
                        </a>
                        <ul class="dropdown-menu" style="max-height: 400px; overflow-y: auto;">
                            <li><a class="dropdown-item" href="/collections">View all Collections</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/collection/12">Alpha</a></li>
                            <li><a class="dropdown-item" href="/collection/65">Ancient</a></li>
                            <li><a class="dropdown-item" href="/collection/77">Anubis</a></li>
                            <li><a class="dropdown-item" href="/collection/10">Assault</a></li>
                            <li><a class="dropdown-item" href="/collection/6">Aztec</a></li>
                            <li><a class="dropdown-item" href="/collection/28">Baggage</a></li>
                            <li><a class="dropdown-item" href="/collection/25">Bank</a></li>
                            <li><a class="dropdown-item" href="/collection/53">Blacksite</a></li>
                            <li><a class="dropdown-item" href="/collection/31">Cache</a></li>
                            <li><a class="dropdown-item" href="/collection/61">Canals</a></li>
                            <li><a class="dropdown-item" href="/collection/36">Chop Shop</a></li>
                            <li><a class="dropdown-item" href="/collection/26">Cobblestone</a></li>
                            <li><a class="dropdown-item" href="/collection/66">Control</a></li>
                            <li><a class="dropdown-item" href="/collection/9">Dust</a></li>
                            <li><a class="dropdown-item" href="/collection/16">Dust 2 (2013)</a></li>
                            <li><a class="dropdown-item" href="/collection/72">Dust 2 (2021)</a></li>
                            <li><a class="dropdown-item" href="/collection/37">Gods and Monsters</a></li>
                            <li><a class="dropdown-item" href="/collection/64">Havoc</a></li>
                            <li><a class="dropdown-item" href="/collection/5">Inferno (2013)</a></li>
                            <li><a class="dropdown-item" href="/collection/50">Inferno (2018)</a></li>
                            <li><a class="dropdown-item" href="/collection/19">Italy</a></li>
                            <li><a class="dropdown-item" href="/collection/15">Lake</a></li>
                            <li><a class="dropdown-item" href="/collection/3">Militia</a></li>
                            <li><a class="dropdown-item" href="/collection/18">Mirage (2013)</a></li>
                            <li><a class="dropdown-item" href="/collection/71">Mirage (2021)</a></li>
                            <li><a class="dropdown-item" href="/collection/59">Norse</a></li>
                            <li><a class="dropdown-item" href="/collection/7">Nuke (2013)</a></li>
                            <li><a class="dropdown-item" href="/collection/51">Nuke (2018)</a></li>
                            <li><a class="dropdown-item" href="/collection/8">Office</a></li>
                            <li><a class="dropdown-item" href="/collection/27">Overpass</a></li>
                            <li><a class="dropdown-item" href="/collection/38">Rising Sun</a></li>
                            <li><a class="dropdown-item" href="/collection/17">Safehouse</a></li>
                            <li><a class="dropdown-item" href="/collection/60">St. Marc</a></li>
                            <li><a class="dropdown-item" href="/collection/14">Train (2013)</a></li>
                            <li><a class="dropdown-item" href="/collection/73">Train (2021)</a></li>
                            <li><a class="dropdown-item" href="/collection/1">Vertigo (2013)</a></li>
                            <li><a class="dropdown-item" href="/collection/70">Vertigo (2021)</a></li>

                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Cases
                        </a>
                        <ul class="dropdown-menu" style="max-height: 400px; overflow-y: auto;">
                            <li><a class="dropdown-item" href="/cases">View all Cases</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/case/33">Chroma Case</a></li>
                            <li><a class="dropdown-item" href="/case/34">Chroma 2 Case</a></li>
                            <li><a class="dropdown-item" href="/case/42">Chroma 3 Case</a></li>
                            <li><a class="dropdown-item" href="/case/54">Clutch Case</a></li>
                            <li><a class="dropdown-item" href="/case/4">CS:GO Weapon Case</a></li>
                            <li><a class="dropdown-item" href="/case/13">CS:GO Weapon Case 2</a></li>
                            <li><a class="dropdown-item" href="/case/22">CS:GO Weapon Case 3</a></li>
                            <li><a class="dropdown-item" href="/case/57">CS20 Case</a></li>
                            <li><a class="dropdown-item" href="/case/52">Danger Zone Case</a></li>
                            <li><a class="dropdown-item" href="/case/74">Dreams & Nightmares Case</a></li>
                            <li><a class="dropdown-item" href="/case/1">eSports 2013 Case</a></li>
                            <li><a class="dropdown-item" href="/case/21">eSports 2013 Winter Case</a></li>
                            <li><a class="dropdown-item" href="/case/30">eSports 2014 Summer Case</a></li>
                            <li><a class="dropdown-item" href="/case/35">Falchion Case</a></li>
                            <li><a class="dropdown-item" href="/case/63">Fracture Case</a></li>
                            <li><a class="dropdown-item" href="/case/43">Gamma Case</a></li>
                            <li><a class="dropdown-item" href="/case/44">Gamma 2 Case</a></li>
                            <li><a class="dropdown-item" href="/case/45">Glove Case</a></li>
                            <li><a class="dropdown-item" href="/case/49">Horizon Case</a></li>
                            <li><a class="dropdown-item" href="/case/24">Huntsman Weapon Case</a></li>
                            <li><a class="dropdown-item" href="/case/11">Operation Bravo Case</a></li>
                            <li><a class="dropdown-item" href="/case/29">Operation Breakout Weapon Case</a></li>
                            <li><a class="dropdown-item" href="/case/67">Operation Broken Fang Case</a></li>
                            <li><a class="dropdown-item" href="/case/47">Operation Hydra Case</a></li>
                            <li><a class="dropdown-item" href="/case/23">Operation Phoenix Weapon Case</a></li>
                            <li><a class="dropdown-item" href="/case/69">Operation Riptide Case</a></li>
                            <li><a class="dropdown-item" href="/case/32">Operation Vanguard Weapon Case</a></li>
                            <li><a class="dropdown-item" href="/case/41">Operation Wildfire Case</a></li>
                            <li><a class="dropdown-item" href="/case/55">Prisma Case</a></li>
                            <li><a class="dropdown-item" href="/case/62">Prisma 2 Case</a></li>
                            <li><a class="dropdown-item" href="/case/75">Recoil Case</a></li>
                            <li><a class="dropdown-item" href="/case/76">Revolution Case</a></li>
                            <li><a class="dropdown-item" href="/case/40">Revolver Case</a></li>
                            <li><a class="dropdown-item" href="/case/39">Shadow Case</a></li>
                            <li><a class="dropdown-item" href="/case/58">Shattered Web Case</a></li>
                            <li><a class="dropdown-item" href="/case/68">Snakebite Case</a></li>
                            <li><a class="dropdown-item" href="/case/46">Spectrum Case</a></li>
                            <li><a class="dropdown-item" href="/case/48">Spectrum 2 Case</a></li>
                            <li><a class="dropdown-item" href="/case/20">Winter Offensive Weapon Case</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Knives
                        </a>
                        <ul class="dropdown-menu" style="max-height: 400px; overflow-y: auto;">
                            <li><a class="dropdown-item" href="/knives">View all Knives</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/">Knife 1 Collection</a></li>
                            <li><a class="dropdown-item" href="/">Knife 2 Collection</a></li>
                            <li><a class="dropdown-item" href="/">Knife 3 Collection</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Gloves
                        </a>
                        <ul class="dropdown-menu" style="max-height: 400px; overflow-y: auto;">
                            <li><a class="dropdown-item" href="/gloves">View all Gloves</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/">Glove 1 Collection</a></li>
                            <li><a class="dropdown-item" href="/">Glove 2 Collection</a></li>
                            <li><a class="dropdown-item" href="/">Glove 3 Collection</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Stickers
                        </a>
                        <ul class="dropdown-menu" style="max-height: 400px; overflow-y: auto;">
                            <li><a class="dropdown-item" href="#">View all Stickers</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="https://csgostash.com/collection/The+Alpha+Collection">Alpha</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Another Sticker</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Other Stuff
                        </a>
                        <ul class="dropdown-menu" style="max-height: 400px; overflow-y: auto;">
                            <li><a class="dropdown-item" href="/">Agents</a></li>
                            <li><a class="dropdown-item" href="/">Graffitis</a></li>
                            <li><a class="dropdown-item" href="/">Patches</a></li>
                            <li><a class="dropdown-item" href="/">Pins</a></li>
                            <li><a class="dropdown-item" href="/">Music Kits</a></li>
                        </ul>
                    </li>

                </ul>
                </li>

                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

</div>

<!--
<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Collections<span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-dropdown-small">
                            <li><a href="https://csgostash.com/collection/The+Alpha+Collection">Alpha</a></li>
                            <li><a href="https://csgostash.com/collection/The+Ancient+Collection">Ancient</a></li>
                            <li><a href="https://csgostash.com/collection/The+Anubis+Collection">Anubis</a></li>
                            <li><a href="https://csgostash.com/collection/The+Assault+Collection">Assault</a></li>
                            <li><a href="https://csgostash.com/collection/The+Aztec+Collection">Aztec</a></li>
                            <li><a href="https://csgostash.com/collection/The+Baggage+Collection">Baggage</a></li>
                            <li><a href="https://csgostash.com/collection/The+Bank+Collection">Bank</a></li>
                            <li><a href="https://csgostash.com/collection/The+Blacksite+Collection">Blacksite</a></li>
                            <li><a href="https://csgostash.com/collection/The+Cache+Collection">Cache</a></li>
                            <li><a href="https://csgostash.com/collection/The+Canals+Collection">Canals</a></li>
                            <li><a href="https://csgostash.com/collection/The+Chop+Shop+Collection">Chop Shop</a></li>
                            <li><a href="https://csgostash.com/collection/The+Cobblestone+Collection">Cobblestone</a></li>
                            <li><a href="https://csgostash.com/collection/The+Control+Collection">Control</a></li>
                            <li><a href="https://csgostash.com/collection/The+Dust+Collection">Dust</a>
                            </li><li><a href="https://csgostash.com/collection/The+2021+Dust+2+Collection">Dust 2 (2021)</a></li>
                            <li><a href="https://csgostash.com/collection/The+Dust+2+Collection">Dust 2 (Old)</a></li>
                            <li><a href="https://csgostash.com/collection/The+Gods+and+Monsters+Collection">Gods and Monsters</a></li>
                            <li><a href="https://csgostash.com/collection/The+Havoc+Collection">Havoc</a></li>
                            <li><a href="https://csgostash.com/collection/The+2018+Inferno+Collection">Inferno (2018)</a></li>
                            <li><a href="https://csgostash.com/collection/The+Inferno+Collection">Inferno (Old)</a></li>
                            <li><a href="https://csgostash.com/collection/The+Italy+Collection">Italy</a></li>
                            <li><a href="https://csgostash.com/collection/The+Lake+Collection">Lake</a></li>
                            <li><a href="https://csgostash.com/collection/The+Militia+Collection">Militia</a></li>
                            <li><a href="https://csgostash.com/collection/The+2021+Mirage+Collection">Mirage (2021)</a></li>
                            <li><a href="https://csgostash.com/collection/The+Mirage+Collection">Mirage (Old)</a></li>
                            <li><a href="https://csgostash.com/collection/The+Norse+Collection">Norse</a></li>
                            <li><a href="https://csgostash.com/collection/The+2018+Nuke+Collection">Nuke (2018)</a></li>
                            <li><a href="https://csgostash.com/collection/The+Nuke+Collection">Nuke (Old)</a></li>
                            <li><a href="https://csgostash.com/collection/The+Office+Collection">Office</a></li>
                            <li><a href="https://csgostash.com/collection/The+Overpass+Collection">Overpass</a></li>
                            <li><a href="https://csgostash.com/collection/The+Rising+Sun+Collection">Rising Sun</a></li>
                            <li><a href="https://csgostash.com/collection/The+Safehouse+Collection">Safehouse</a></li>
                            <li><a href="https://csgostash.com/collection/The+St.+Marc+Collection">St. Marc</a></li>
                            <li><a href="https://csgostash.com/collection/The+2021+Train+Collection">Train (2021)</a></li>
                            <li><a href="https://csgostash.com/collection/The+Train+Collection">Train (Old)</a></li>
                            <li><a href="https://csgostash.com/collection/The+2021+Vertigo+Collection">Vertigo (2021)</a></li>
                            <li><a href="https://csgostash.com/collection/The+Vertigo+Collection">Vertigo (Old)</a></li>
-->
