<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skin Collections</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>

<div th:replace="~{fragments/navBar :: navBar}"></div>

<body>

<div class="card-group justify-content-center">
    <div th:each="case : ${weaponCases}">
        <div class="card m-2" style="width: 24rem;">
            <div class="card-body">

                <div class="card-title text-center">
                    <a th:href="${'http://localhost:8080/case/' + case.id}" class="no-link-style">
                        <h5 th:text="${case.containers.get(0).containerName}"></h5>
                    </a>
                </div>

                <a class="card-img-top" th:href="${'http://localhost:8080/case/' + case.id}">
                <img class="cropped-image" th:src="${case.containers[0].getContainerImage() != null ? case.containers[0].containerImage : '/images/akch-stock.png'}" >
                </a>

                <!--
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                -->

            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center" th:text="'case Preis hier später?'"></li>
            </ul>

            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center" th:text="'Released on ' + ${case.releaseDate}"></li>
            </ul>

            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center" th:text="'Drops: ' + ${case.containers[0].containerDrop}"></li>
            </ul>

        </div>
    </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
</body>

<div th:replace="~{fragments/footer :: footer}"></div>

</html>