<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skin Collections</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>

<div th:replace="~{fragments/navBar :: navBar}"></div>

<body>

<div class="card-group justify-content-center">
    <div th:each="case : ${weaponCases}">
        <div class="card m-2" style="width: 24rem;">
            <div class="card-body">

                <div class="card-title text-center" >
                    <a th:href="${'http://localhost:8080/case/' + case.id}"></a>
                    <h5 th:text="${case.collectionName}"></h5>
                </div>

                <img th:src="${case.collectionImage != null ? case.collectionImage : '/images/akch-stock.png'}"
                     class="card-img-top cropped-image"
                     alt="sample picture">

                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
            <ul class="list-group list-group-flush">

                <li class="list-group-item text-center" th:text="'Release Year: ' + ${case.releaseYear}"></li>
            </ul>
            <div class="card-body text-center">
                <a th:href="${'http://localhost:8080/case/' + case.id}" class="btn btn-primary mx-2">View Case</a>
                <a href="/" class="btn btn-primary mx-2">Another link</a>
            </div>
        </div>
    </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
</body>

<div th:replace="~{fragments/footer :: footer}"></div>

</html>