<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${collection.collectionName}"></title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div th:switch="${collection.agents}">
  <p th:case="null">no agents</p>
  <p th:case="*">agents</p>
</div>
<div th:switch="${collection.graffitis}">
  <p th:case="null">no graffitis</p>
  <p th:case="*">graffitis</p>
</div>
<div th:switch="${collection.patches}">
  <p th:case="null">no patches</p>
  <p th:case="*">patches</p>
</div>
<div th:switch="${collection.pins}">
  <p th:case="null">no pins</p>
  <p th:case="*">pins</p>
</div>
<div th:switch="${collection.skins}">
  <p th:case="null">no skins</p>
  <p th:case="*">skins</p>
</div>
<div th:switch="${collection.stickers}">
  <p th:case="null">no stickers</p>
  <p th:case="*">stickers</p>
</div>


<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
</body>
</html>