<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SkinVault Analytics</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<div th:replace="~{fragments/navBar :: navBar}"></div>

<body>
<div class="container col-xxl-8 px-4 py-5 my-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/images/CSGO-Skins-Case-Hardened-AK.jpg" class="d-block mx-lg-auto img-fluid"
                 alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Skin Vault Analytics</h1>
            <p class="lead">The last tool you will ever need regarding anything related to Counter Strike Skins. Doesn't
                matter if it's tracking your inventory, keeping an overview over your storage units (add your investments
                manually once), keeping an eye on the skin prices and their development over time or just using it as a wiki.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <form action="#" th:action="@{/skins}" method="get">
                    <input type="submit" class="btn btn-primary btn-lg px-4 me-md-2" value="Get all skins">
                </form>
                <form action="#" th:action="@{/collections}" method="get">
                    <input type="submit" class="btn btn-outline-secondary btn-lg px-4" value="Get all collections">
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
</body>

<div th:replace="~{fragments/footer :: footer}"></div>

</html>