<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skin Collections</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>

<div th:replace="~{fragments/navBar :: navBar}"></div>

<body>
<div class="card-group justify-content-center">
    <div th:each="skin : ${skins}">
        <div class="card m-2" style="width: 24rem;">
            <div class="card-body">
                <div class="card-title removeLinkDesign text-center"
                     th:href="${'http://localhost:8080/skin/?id=' + skin.id}">
                    <h5 th:text="${skin.gunName} + ' | ' + ${skin.skinName}"></h5>
                </div>
                <img src="/images/akch-stock.png" class="card-img-top cropped-image" alt="sample picture">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h6 class="card-text" th:text="${skin.rarity}"
                                                th:classappend="${skin.rarity == 'Covert' ? 'text-red' : skin.rarity == 'Classified' ? 'text-pink' : skin.rarity == 'Restricted' ? 'text-purple' : skin.rarity == 'Mil-Spec' ? 'text-blue' : skin.rarity == 'Industrial Grade' ? 'text-lightblue' : skin.rarity == 'Consumer Grade' ? 'text-grey' : ''}"></h6>
                    <p></li>
                <li class="list-group-item">
                    <h6>
                        <span th:inline="text">[[${skin.minWear}]] - [[${skin.maxWear}]]</span>
                    </h6>
                </li>
                <li class="list-group-item"><h6 class="card-text " th:text="${skin.gunType}"></h6></li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
</body>

<div th:replace="~{fragments/footer :: footer}"></div>

</html>